*egg-info*
data*
results*
doc*
*pycache*
*log*
*synctex*
*aux*
*.bbl
*.blg
*.out
drivers/oneoffs*
*secret*
SANDBOX*
proposal*
*ipynb_checkpoints*
papers/*paper*/*pdf
papers/*paper*/*png
papers/*paper*/outline.txt
tests/get_avg_300651846_period.py
tests/test_ecg_audio.py
tests/test_output
papers/*paper*/natastro_inquiry/
papers/*paper*/fig2_validation_plots/
art/*
papers/*paper*/annotated_lp12502.key
drivers/*csv
fig3_validation_plots.tar.gz
fig3_validation_plots/
paper_review
*BACKUP
*_arxiv_*
